.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.title {
  font-size: 34px;
  color: var(--white);
  text-align: center;
}

.icon {
  width: 150px;
  height: 150px;
}

.container:hover .title {
  color: var(--brand-1);
}

.container:hover .icon {
  scale: 1.1;
}

@media (max-width: 500px) {
    .icon {
      width: 100px;
      height: 100px;
    }

    .title {
      font-size: 28px;
    }
}

@media (max-width: 400px) {
  .icon {
    width: 80px;
    height: 80px;
  }

  .title {
    font-size: 24px;
  }
}
