.select__language {
  display: none;
  margin-top: 20px;
  padding-bottom: 20px;
  padding: 5px 10px;
  color: #fff;
  outline: none;
  font-size: 30px;
  width: 100%;
  background-color: var(--bg-1);
  border-radius: 12px;
}

@media (max-width: 768px) {
  .select__language {
    display: block;
  }
}
