@import url("./styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* width */
  --container-width: 1684px;

  /* colors */

  --bg-main: #292f36;
  --bg-1: #292f36;
  --bg-2: #1a1e23;
  --brand-1: #12f7d6;
  --brand-2: #98faec;
  --grey: #43454d;
  --white: #ffffff;
  --html: #e54f26;
  --css: #0c73b8;
  --js: #e7a020;
  --react: #28a9e0;

  /* font ubunty */
  --bg-text-u: normal normal 400 137px/134px "Ubuntu", san-serif;
  --h1-u: normal normal 400 64px/72px "Ubuntu", san-serif;
  --h2-u: normal normal 400 32px/36px "Ubuntu", san-serif;
  --button-u: normal normal 400 20px/24px "Ubuntu", san-serif;
  --article-u: normal normal 300 16px/32px "Ubuntu", san-serif;
  --para-u: normal normal 300 16px/18px "Ubuntu", san-serif;
  --label-u-m: normal normal 500 14px/16px "Ubuntu", san-serif;
  --label-u-l: normal normal 300 14px/16px "Ubuntu", san-serif;

  /* font IBM flex mono */
  --number-m: normal normal 500 48px/62px "IBM Plex Mono", san-serif;
  --h2-m: normal normal 500 32px/42px "IBM Plex Mono", san-serif;
  --logo-m: normal normal 500 32px/42px "IBM Plex Mono", san-serif;
  --menu-m: normal normal 400 24px/32px "IBM Plex Mono", san-serif;
  --media-m: normal normal 400 16px/20px "IBM Plex Mono", san-serif;
  --para-m: normal normal 400 16px/20px "IBM Plex Mono", san-serif;
  --code-m: normal normal 400 14px/18px "IBM Plex Mono", san-serif;
}

body {
  background-color: var(--bg-main);
  width: 100%;
  min-height: 100vh;
}

path {
  fill: var(--brand-1);
}
