.works {
  background-image: url("../../../assets/images/works/works-bg.png");
}

.works__inner {
  padding: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll {
  display: block;
}



@media (max-width: 768px) {
  .works__inner {
    padding: 64px;
  }
}

@media (max-width: 768px) {
  .scroll {
    display: none;
  }
}

@media (max-width: 390px) {
  .works__inner {
    padding: 24px;
  }
}
