.card {
  width: 320px;
  height: 520px;
  padding: 0 24px;
  border: 3px solid var(--white);
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -4px -4px 3px var(--brand-1);
}

.card__avatar {
  margin-top: 38px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  scale: ;
}

.card__name {
  font: var(--logo-m);
  color: var(--white);
}

.card__proffesion {
  font: var(--code-m);
  color: var(--white);
}

.card__requisites__list {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__requisites__item {
  display: flex;
  align-items: center;
  gap: 16px;
  font: var(--code-m);
  color: var(--white);
}

.card__requisites__item div {
  width: 14px;
  height: 14px;
}

.card__tags {
  margin-top: 16px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.card__tags__item {
  background-color: var(--brand-1);
  padding: 0 8px;
  font: var(--code-m);
  border-radius: 8px;
}

.card__button {
  margin-top: 32px;
  padding: 16px 32px;
  display: flex;
  gap: 16px;
  font: var(--button-u);
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 32px;
  transition: ease 1s;
}

.card__button:hover {
  background-color: var(--brand-1);
}

.card__button:focus {
  background-color: var(--bg-1);
  color: var(--white);
  border: 2px solid var(--brand-1);
}

.card__button path {
  fill: #000;
  transition: ease 1s;
}

.card__button:focus path {
  fill: var(--white);
}
